In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(
    '../data/gpx-route.csv',
    names=[
        'latitude',
        'longitude',
        'distance',
        'cuttoff_time',
        'address',
        'total_hours',
        'planned_time'
    ]
)

In [8]:
df.head(3)

,latitude,longitude,distance,cuttoff_time,address,total_hours,planned_time
0,1.34228,103.83519,0.000000,2024-05-17 21:00:00.000000,MacRitchie Nature Trail,0.000000,2024-05-17 21:00:00.000000
1,1.34265,103.83574,0.073616,2024-05-17 21:00:00.000000,MacRitchie Nature Trail,0.014723,2024-05-17 21:00:00.000000
2,1.34276,103.83592,0.097054,2024-05-17 21:01:00.983782,MacRitchie Nature Trail,0.019411,2024-05-17 21:00:53.003570

In [9]:
df['address'].nunique()

1379

In [27]:
previous_values = df['distance'].shift(1)
is_increasing = df['distance'] > previous_values
is_increasing[1:].all()

True

In [22]:
df['address'].str.contains('[a-z]')

0       True
1       True
2       True
3       True
4       True
        ...
9203    True
9204    True
9205    True
9206    True
9207    True
Name: address, Length: 9208, dtype: bool

In [24]:
df[~df['address'].str.contains('[a-zA-Z]')]

,latitude,longitude,distance,cuttoff_time,address,total_hours,planned_time
519,1.42214,103.86364,17.397537,2024-05-18 00:59:10.817533,义顺1道,3.479507,2024-05-18 00:27:52.899001
520,1.42197,103.86371,17.417892,2024-05-18 01:00:12.174377,义顺1道,3.483578,2024-05-18 00:28:46.226814
521,1.42166,103.86369,17.452238,2024-05-18 01:00:29.036112,义顺1道,3.490448,2024-05-18 00:29:00.882057
522,1.42151,103.86367,17.468977,2024-05-18 01:00:57.488400,义顺1道,3.493795,2024-05-18 00:29:25.611137
8179,1.35289,103.87651,283.686491,2024-05-20 14:16:27.232939,杨厝港路,56.737298,2024-05-20 05:43:57.285785
8180,1.35290,103.87633,283.706549,2024-05-20 14:16:46.778187,杨厝港路,56.741310,2024-05-20 05:44:14.273382
8181,1.35294,103.87630,283.712089,2024-05-20 14:17:03.394127,杨厝港路,56.742418,2024-05-20 05:44:28.714994
8191,1.35545,103.87401,284.090199,2024-05-20 14:21:54.348557,曼德里路,56.818040,2024-05-20 05:48:41.595725
8192,1.35565,103.87389,284.116029,2024-05-20 14:22:21.211179,曼德里路,56.823206,2024-05-20 05:49:04.943160
8295,1.37026,103.87590,288.053886,2024-05-20 15:16:27.853460,杨厝港路,57.610777,2024-05-20 06:36:06.736488
8296,1.37024,103.87590,288.056102,2024-05-20 15:17:04.742410,杨厝港路,57.611220,2024-05-20 06:36:38.798225
8297,1.37029,103.87608,288.076879,2024-05-20 15:17:06.577422,杨厝港路,57.615376,2024-05-20 06:36:40.393111
8298,1.37037,103.87621,288.093835,2024-05-20 15:17:23.789655,杨厝港路,57.618767,2024-05-20 06:36:55.352986
8299,1.37054,103.87636,288.118983,2024-05-20 15:17:37.835838,杨厝港路,57.623797,2024-05-20 06:37:07.561115